<%= header %>
<%= boomerangScript %>
<script src="100343.js" type="text/javascript"></script>
<script>
// Set the beacon_url override
BOOMR.sendBeacon("/blackhole");

// Ensure we hold the beacon until after page load
BOOMR.plugins.hold = {
	complete: false,
	is_complete: function() {
		return this.complete;
	}
};

setTimeout(function() {
	// Allow the beacon to go through now
	BOOMR.plugins.hold.complete = true;

	// Initialize Boomerang
	BOOMR_test.init({
		beacon_url: "/blackhole2",
	});
}, 1000);
</script>
<%= footer %>
