<%= header %>
<%= boomerangScript %>
<script src="03-dimensions.js" type="text/javascript"></script>
<script>

// add a few dimensions to the page load beacon
window.BOOMR_test.vars = window.BOOMR_test.vars || {};
window.BOOMR_test.vars.testDimension = true;
window.BOOMR_test.vars.pageGroup = "PG1";
window.BOOMR_test.vars.abTest = "A";

BOOMR_test.init({
  testAfterOnBeacon: 3,
  BFCache: {
    enabled: true
  },
  afterFirstBeacon: function() {
    // fake a BFCache navigation
    BOOMR.plugins.BFCache.onPageShow({
      persisted: true,
      timeStamp: BOOMR.hrNow() - 100
    });

    // add some delay so FCP and LCP are high
    BOOMR_test.busy(500);

    // Send another custom beacon and the page dimensions should not be on it
    setTimeout(function() {
      BOOMR.responseEnd("lastBeacon");
    }, 3000);
  },
  PageParams: {
    customDimensions: [
      {
        "name": "CD1",
        "index": 1,
        "type": "JavaScriptVar",
        "label": "cdim.CD1",
        "dataType": "Boolean",
        "varName": "BOOMR_test.vars.testDimension"
      }
    ],
    pageGroups: [
      {
        type: "Custom",
        parameter1: "BOOMR_test.vars.pageGroup"
      }
    ],
    abTests: [
      {
        type: "Custom",
        parameter1: "BOOMR_test.vars.abTest"
      }
    ]
  }
});
</script>
<%= footer %>
