<%= header %>
<%= boomerangScriptMin %>
<!--
For this test, we'll turn autorun off and trigger an two errors, wait, then call
BOOMR.page_ready() so the real beacon is sent.

sendIntervalDuringLoad is disabled so no error beacons should be sent.
-->
<script src="48-autorun-false-multiple-then-load-no-send-during-onload.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
  testAfterOnBeacon: 1,
  Errors: {
    enabled: true,
    sendIntervalDuringLoad: 0
  },
  autorun: false
});

setTimeout(function() {
  // wait to ensure no error beacon is sent
  BOOMR.page_ready();
}, 5000);

var a = badFunction();
</script>
<script>
var b = badFunction2();
</script>
<%= footer %>
