*.gz
*.swp
/boomerang-*.js
Default_Boomerang.xml
boomerang-build.*
BoomerangUpdate
./[A-Z0-9][A-Z0-9][A-Z0-9][A-Z0-9][A-Z0-9]-[A-Z0-9]*.js
*.diff
.project
.settings/
tests/vendor/
tests/coverage/
tests/results/*
tests/pages/*
node_modules/
build/
tasks/mpulse-build-for.config.json
tests/server/env.json
npm-debug.log
/tests/e2e/e2e.json
/tests/e2e/e2e-debug.json
tests/page-templates/12-react/support/app-component.js
tests/page-templates/12-react/support/app-component.js.map
tests/page-templates/12-react/support/app.js
*.#*
*#*
*~
