<?xml version='1.0' encoding='UTF-8'?>
<rp:ObjectSet xmlns:rp="http://www.soasta.com/services/repository">
  <Object type="boomerang" name="Default Boomerang" schemaVersion="2840">
    <Body>
      <Boomerang xmlns="http://www.soasta.com/services/repository">
        <Minified></Minified>
        <Debug></Debug>
      </Boomerang>
    </Body>
    <Attributes>
      <Attribute name="Version">
        <Value></Value>
      </Attribute>
    </Attributes>
  </Object>
</rp:ObjectSet>
