<%= header %>
<%= boomerangScript %>

<script type="text/javascript">
BOOMR.utils.removeCookie("RT");

function handler(event) {
	var data = JSON.parse(event.data);
	if (data && data.dm) {
		window.childSessionData = data;
	}
}

if (window.addEventListener) {
	window.addEventListener("message", handler);
}
else {
	window.attachEvent("onmessage", handler);
}
</script>

<script src="02-child-iframe-timedout.js" type="text/javascript"></script>
<script>
var server = "<%= secondaryServer %>";
var host = server || window.location.hostname;
var port = (parseInt(window.location.port) || 4002) + 1;

BOOMR_test.init({
	testAfterOnBeacon: true,
	CrossDomain: {
		cross_domain_url: "http://" + host + ":" + port + "/delay?delay=10000&file=/pages/15-cross-domain/support/frameScriptSimple.html",
		sending: false
	}
});
</script>

<pre>

Test ensures we set the timedout flag on beacon if the main did not respond on time and we move on with our session

 +---------+        +----------+
 |  Alias  +---?---->   Main   |
 +---------+        +----------+

 +---------+
 |   Main  +------> ... Thinking ...
 +---------+

 +--------------------------------------------+
 |Alias: No Data from Main. Using own data... |
 +--------------------------------------------+

</pre>
<%= footer %>
