<%= header %>
<%= boomerangScript %>

<script type="text/javascript">
function handler(event) {
	var data = JSON.parse(event.data);
	if (data.session) {
		window.childSessionData = data.session;
	}
}

if (window.addEventListener) {
	window.addEventListener("message", handler);
}
else {
	window.attachEvent("onmessage", handler);
}
</script>

<script src="02-child-iframe-timedout.js" type="text/javascript"></script>
<script>
var host = window.location.hostname;
var port = (parseInt(window.location.port) || 4002) + 1;

BOOMR_test.init({
	testAfterOnBeacon: true,
	CrossDomain: {
		cross_domain_url: "http://" + host + ":" + port + "/delay?delay=10000&file=/pages/15-cross-domain/support/frameScriptSimple.html",
		sending: false
	}
});
</script>
<%= footer %>
