<%= header %>
<script type="text/javascript">
window.sessionMock = {
	ID: "mocked-id2",
	length: 5,
	start: (new Date().getTime()) - 64000,
	loadTime: 666,
	sessionHistory: [],
	offByOne: 0,
	beacon_url: "/beacon/no-op"
};
</script>
<script src="support/session-mock.js" type="text/javascript"></script>

<%= boomerangScript %>

<script type="text/javascript">
function handler(event) {
	var data = JSON.parse(event.data);
	if (data && data.dm) {
		console.log(data);
		window.childSessionData = data;
	}
}

if (window.addEventListener) {
	window.addEventListener("message", handler);
}
else {
	window.attachEvent("onmessage", handler);
}
</script>

<script src="04-transfer-session-data-to-main.js" type="text/javascript"></script>
<script>
var server = "<%= secondaryServer %>";
var host = server || window.location.hostname;
var port = (parseInt(window.location.port) || 4002) + 1;

BOOMR_test.init({
	site_domain: "<%= mainServer %>",
	testAfterOnBeacon: true,
	CrossDomain: {
		cross_domain_url: "http://" + host + ":" + port + "/pages/15-cross-domain/support/frameScriptSimple.html",
		sending: false
	}
});
</script>
<pre>
  Compare session age of main domain and alias domain. We will find that the alias domain is older than the session on the main. So we are transferring our session data to the main from alias.
</pre>

<%= footer %>
