<%= header %>
<%= boomerangSnippet %>
<script src="09-lcp-custom-element.js" type="text/javascript"></script>

<!-- define a class in a separate script so older browsers will just fail this part -->
<script src="support/custom-element.js"></script>

<custom-element
  id="lcp-id"
  data-src="not-the-stuff"
  data-src-base="/delay?delay=0&amp;file=/assets/img.jpg&amp;id=1"
  role="img"
  style="width: 200px; height: 200px; display: block"></custom-element>

<script>
BOOMR_test.init({
  PaintTiming: {
    enabled: true
  },
  testAfterOnBeacon: 2,
  afterFirstBeacon: function() {
    // send a second beacon, shouldn't have elements
    BOOMR.responseEnd("beacon 2");
  }
});
</script>
<script src="/delay?delay=2500&amp;file=/assets/blank.js"></script>
<%= footer %>
