<%= header %>
<script>

BOOMR_LOGN_always = true;
BOOMR_API_key = "13-logn-02-config-json-reload";
window.xhrConfigRequestUrl = undefined;

var XMLHttpRequestBk = window.XMLHttpRequest;
window.XMLHttpRequest = function() {
	var xhrSub = new XMLHttpRequestBk();
	var orig_open = xhrSub.open;

	xhrSub.open = function() {
		console.log("Called my open for method: " + arguments[0] + "; URL: " + arguments[1]);
		window.xhrConfigRequestUrl = arguments[1];
		return orig_open.apply(xhrSub, arguments);
	};

	return xhrSub;
};

// Define the AK plugin that will provide the ak.ai ARL ID value as NaN
// for edge case issue where AK_ARLID is correct and AK plugin might send NaN
// for value of ak.ai
BOOMR = window.BOOMR || {};
BOOMR.plugins = BOOMR.plugins || {};
BOOMR.plugins.AK = {
	akVars: {"ak.ai": NaN},
	is_complete: function() {
		return true;
	}
};

</script>

<%= boomerangScript %>
<script src="16-akai-on-config-req-akai-int-as-NaN.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: true
});
</script>
<%= footer %>
