<%= header %>
<script>
window.testV4Url = "test07";
window.testV4ReqMethod = "test07";
window.origXMLHttpRequestOpen = undefined;

// Override the XMLHttpRequest method with our own to test
// whether a v4 request is made using this API.
if (window.XMLHttpRequest && typeof window.XMLHttpRequest.prototype.open === "function") {
	origXMLHttpRequestOpen = window.XMLHttpRequest.prototype.open;

	window.XMLHttpRequest.prototype.open = function(methodType, destUrl, asynReq) {
		testV4ReqMethod = methodType;
		testV4Url = destUrl;
		origXMLHttpRequestOpen.call(this, methodType, destUrl, asynReq);
	};
}
</script>
<%= boomerangScript %>
<script src="07-akamai-mapping-localstorage-set-xhr-not-sent.js" type="text/javascript"></script>
<script>
	BOOMR.utils.setLocalStorage("akamaiXhrRetry", {}, 1800);
	
	BOOMR_test.init({
		testAfterOnBeacon: true,
		Akamai: {
			enabled: true,
			mapping_xhr_base_url: "akamaihd.net",
			mapping_xhr_url_path: "/eum/getdns.txt",
			mapping_xhr_url_v4_prefix: "trial-eum-clientnsv4-s"
		}
	});
</script>
<%= footer %>
