<%= header %>
<%= boomerangSnippet %>
<div class="cart-container" style="display: none" id="cart-container">
    <div id="cart-total">$444.44</div>
    <div id="a1-_:.">$555.55</div>
</div>
<script src="00-custom-metrics.js" type="text/javascript"></script>
<script>
/*global custom_metric_1:true, custom_metric_2:true*/
/*eslint-disable no-unused-vars*/
custom_metric_1 = 111;
custom_metric_2 = function() {
    return 222;
};

BOOMR_test.init({
    testAfterOnBeacon: true,
    PageParams: {
        customMetrics: [
            {
                varName: "custom_metric_1",
                label: "cmet1",
                type: "JavaScriptVar"
            },
            {
                varName: "custom_metric_2",
                label: "cmet2",
                type: "JavaScriptVar"
            },
            {
                varName: "missing_metric",
                label: "cmet3",
                type: "JavaScriptVar"
            },
            {
                parameter1: "",
                parameter2: "//div[@id='cart-total']",
                label: "cmet4",
                type: "URLPatternType"
            },
            {
                parameter1: "",
                parameter2: "",
                label: "cmet5",
                type: "URLPatternType"
            },
            {
                parameter1: "",
                parameter2: "//div[@id=\"cart-total\"]",
                label: "cmet6",
                type: "URLPatternType"
            },
            {
                parameter1: "",
                parameter2: "//div[@id=\"cart-container\"]/div",
                label: "cmet7",
                type: "URLPatternType"
            },
            {
                parameter1: "",
                parameter2: "//div[@id='a1-_:.']",
                label: "cmet8",
                type: "URLPatternType"
            }
        ]
    }
});
</script>
<%= footer %>
