<%= header %>
<%= boomerangSnippet %>
<div class="cart-container" style="display: none" id="cart-container">
	<div id="cart-total">$444.44</div>
	<textarea id="a1-_:.">$555.55</textarea>
	<input id="some-input" type="hidden" value="3.14" />
	<input id="cb" type="checkbox" checked="checked" />
	<input id="rad" type="radio" checked="checked" />
</div>
<script src="00-custom-metrics.js" type="text/javascript"></script>
<script>
/*global custom_metric_1:true, custom_metric_2:true*/
/*eslint-disable no-unused-vars*/
custom_metric_1 = 111;
custom_metric_2 = function() {
	return 222;
};
custom_metric_3 = true;
custom_metric_4 = "true";
custom_metric_5 = -1;
custom_metric_6 = 0;
custom_metric_7 = null;
custom_metric_8 = false;
custom_metric_9 = "";

BOOMR_test.init({
	testAfterOnBeacon: true,
	PageParams: {
		customMetrics: [
			{
				varName: "custom_metric_1",
				label: "cmet1",
				type: "JavaScriptVar"
			},
			{
				varName: "custom_metric_2",
				label: "cmet2",
				type: "JavaScriptVar"
			},
			{
				varName: "missing_metric",
				label: "cmet3",
				type: "JavaScriptVar"
			},
			{
				parameter1: "",
				parameter2: "//div[@id='cart-total']",
				label: "cmet4",
				type: "URLPatternType"
			},
			{
				parameter1: "",
				parameter2: "",
				label: "cmet5",
				type: "URLPatternType"
			},
			{
				parameter1: "",
				queryselector: "div#cart-total",
				label: "cmet6",
				type: "URLPatternType"
			},
			{
				parameter1: "",
				parameter2: "//div[@id=\"cart-total\"]",
				label: "cmet7",
				type: "URLPatternType"
			},
			{
				parameter1: "",
				parameter2: "//div[@id=\"cart-container\"]/div",
				label: "cmet8",
				type: "URLPatternType"
			},
			{
				parameter1: "",
				parameter2: "//textarea[@id='a1-_:.']",
				label: "cmet9",
				type: "URLPatternType"
			},
			{
				parameter1: "*00-custom-metrics.html",
				parameter2: "",
				label: "cmet10",
				type: "URLPatternType"
			},
			{
				label: "cmet11",
				parameter1: "document.cookie.length",
				dataType: "Number",
				type: "Custom"
			},
			{
				label: "cmet12",
				type: "Custom",
				dataType: "Number",
				parameter1: "custom_metric_1",
				parameter2: "*custom-Xmetrics*"
			},
			{
				label: "cmet13",
				type: "Custom",
				dataType: "Number",
				parameter1: "custom_metric_1",
				parameter2: "*custom-metrics*"
			},
			{
				parameter1: "",
				parameter2: "//input[@id='some-input']",
				label: "cmet14",
				type: "URLPatternType"
			},
			{
				parameter1: "",
				parameter2: "//input[@id='cb']",
				label: "cmet15",
				type: "URLPatternType"
			},
			{
				parameter1: "",
				parameter2: "//input[@id='rad']",
				label: "cmet16",
				type: "URLPatternType"
			},
			{
				match: "regex:on",
				parameter2: "//input[@id='cb']",
				label: "cmet17",
				type: "URLPatternType"
			},
			{
				match: "regex:on",
				parameter2: "//input[@id='rad']",
				label: "cmet18",
				type: "URLPatternType"
			},
			{
				label: "cmet19",
				parameter1: "",
				parameter2: "//div[@class=\"cart-container\"]/div",
				type: "URLPatternType"
			},
			{
				label: "cmet20",
				type: "JavaScriptVar",
				dataType: "Percentage",
				match: "boolean",
				varName: "custom_metric_3",
				parameter1: ""
			},
			{
				label: "cmet21",
				dataType: "Percentage",
				type: "URLPatternType",
				match: "boolean",
				parameter1: "",
				parameter2: "//div[@id=\"cart-total\"]"
			},
			{
				label: "cmet22",
				type: "Custom",
				dataType: "Percentage",
				match: "boolean",
				parameter1: "custom_metric_3",
				parameter2: ""
			},
			{
				label: "cmet23",
				type: "Custom",
				dataType: "Percentage",
				match: "boolean",
				parameter1: "custom_metric_4",
				parameter2: ""
			},
			{
				label: "cmet24",
				type: "Custom",
				dataType: "Percentage",
				match: "boolean",
				parameter1: "missing_metric",
				parameter2: ""
			},
			{
				label: "cmet25",
				type: "Custom",
				dataType: "Percentage",
				match: "boolean",
				parameter1: "custom_metric_1",
				parameter2: ""
			},
			{
				label: "cmet26",
				type: "Custom",
				dataType: "Percentage",
				match: "boolean",
				parameter1: "custom_metric_5",
				parameter2: ""
			},
			{
				label: "cmet27",
				type: "Custom",
				dataType: "Percentage",
				match: "boolean",
				parameter1: "custom_metric_6",
				parameter2: ""
			},
			{
				label: "cmet28",
				type: "Custom",
				dataType: "Percentage",
				match: "boolean",
				parameter1: "custom_metric_7",
				parameter2: ""
			},
			{
				label: "cmet29",
				type: "Custom",
				dataType: "Percentage",
				match: "boolean",
				parameter1: "custom_metric_8",
				parameter2: ""
			},
			{
				label: "cmet30",
				type: "Custom",
				dataType: "Percentage",
				match: "boolean",
				parameter1: "custom_metric_9",
				parameter2: ""
			}
		]
	}
});
</script>
<%= footer %>
