<%= header %>
<%= boomerangSnippet %>
<script src="02-page-group-xhrs.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	instrument_xhr: true,
	testAfterOnBeacon: true,
	PageParams: {
		pageGroups: [
			{
				type: "Regexp",
				parameter1: "/pages/.*",
				parameter2: "Test Pages"
			},
			{
				type: "Regexp",
				parameter1: "/blackhole#subresource",
				parameter2: "XHR subresource",
				subresource: true
			},
			{
				type: "Regexp",
				parameter1: "/blackhole#not-subresource",
				parameter2: "XHR not subresource"
			},
			{
				type: "Regexp",
				parameter1: "/blackhole#passive-subresource",
				// endswith "_subresource" will be flagged as passive subresource
				parameter2: "XHR_subresource"
			}
		]
	},
	afterFirstBeacon:
		function() {
			if (!BOOMR.plugins.AutoXHR) {
				return;
			}

			setTimeout(function() {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/blackhole#subresource", true);
				xhr.send(null);
			}, 0);

			setTimeout(function() {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/blackhole#not-subresource", true);
				xhr.send(null);
			}, 1000);

			setTimeout(function() {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/blackhole#not-pagegroup", true);
				xhr.send(null);
			}, 2000);

			setTimeout(function() {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/blackhole#passive-subresource", true);
				xhr.send(null);
			}, 3000);
		}
});
</script>
<%= footer %>
