<%= header %>
<%= boomerangSnippet %>
<script src="15-page-params-xhr-none.js" type="text/javascript"></script>
<script>
BOOMR_test.init({
	testAfterOnBeacon: 1,
	afterFirstBeacon: function() {
		if (!BOOMR.plugins.AutoXHR) {
			return;
		}
		setTimeout(function() {
			setTimeout(function() {
				var xhr1 = new XMLHttpRequest();
				xhr1.open("GET", "/delay?id=excluded&delay=1000&file=/pages/04-page-params/support/img.jpg");
				xhr1.send(null);
			}, 0);
			setTimeout(function() {
				var xhr2 = new XMLHttpRequest();
				xhr2.open("GET", "/delay?id=1&delay=1000&file=/pages/04-page-params/support/img.jpg");
				xhr2.send(null);
			}, 1000);
		}, 100);
	},
	AutoXHR: {
		alwaysSendXhr: true
	},
	PageParams: {
		xhr: "none",
		pageGroups: [
			{
				type: "Regexp",
				parameter1: ".*/15-page-params-xhr-none.html",
				parameter2: "Test Page",
				on: ["navigation"]
			}
		]
	},
	instrument_xhr: true
});
</script>
<%= footer %>

