<%= header %>
<%= boomerangScript %>
<script src="32-send-all.js" type="text/javascript"></script>
<script>
var pageGroup = "PG";
var abTest = "A";
var testDimension = "Dimension1";
var testTimer = 111;

BOOMR_test.init({
	testAfterOnBeacon: 2,
	PageParams: {
		customMetrics: [
			{
				name: "custom_metric_1",
				index: 1,
				type: "Custom",
				label: "cmet.CM1",
				parameter1: "testMetric1"
			},
			{
				name: "custom_metric_2",
				index: 2,
				type: "Custom",
				label: "cmet.CM2",
				parameter1: "testMetric2"
			}
		],
		customTimers: [
			{
				name: "custom_timer_1",
				index: 1,
				type: "Custom",
				label: "custom1",
				parameter1: "testTimer"
			},
			{
				name: "custom_timer_2",
				index: 2,
				type: "Custom",
				label: "custom2",
				parameter1: "testTimer2"
			}
		],
		customDimensions: [
			{
				"name": "CD1",
				"index": 1,
				"type": "JavaScriptVar",
				"label": "cdim.CD1",
				"dataType": "Boolean",
				"varName": "testDimension"
			}
		],
		pageGroups: [
			{
				type: "Custom",
				parameter1: "pageGroup"
			}
		],
		abTests: [
			{
				type: "Custom",
				parameter1: "abTest"
			}
		]
	},
	afterFirstBeacon: function() {
		BOOMR.sendAll({
			metrics: {
				custom_metric_1: 10,
				custom_metric_2: 100
			},
			timers: {
				custom_timer_1: 111,
				custom_timer_2: 222
			},
			vars: {
				var1: 1,
				var2: 2
			},
			timestamp: 9999999
		});
	}
});
</script>
<%= footer %>
