<%= header %>
<h1>03-prerendered-activated-while-prerendering</h1>
<!-- before this delayed image -->
<img src="/delay?delay=5000&amp;file=assets/img.jpg"/>
<script>
// fake that it's being loaded while prerendering
BOOMR_test.isPrerendering = true;

Object.defineProperty(document, "prerendering", {
  get: function() {
    return BOOMR_test.isPrerendering;
  }
});
</script>
<%= boomerangScript %>
<script src="03-prerendered-activated-while-prerendering.js" type="text/javascript"></script>
<script>
BOOMR_test.fakeActivationStart(2500);

BOOMR_test.init({
  testAfterOnBeacon: true
});

BOOMR.subscribe("beacon", function() {
  if (document.prerendering) {
    BOOMR_test.sentWhilePrerendering = true;
  }
});

// all done fake-prerendering
setTimeout(function() {
  BOOMR_test.isPrerendering = false;

  // create a fake prerenderingchange event
  var evObj = document.createEvent("Event");

  evObj.initEvent("prerenderingchange", true, false);

  // dispatch!
  document.dispatchEvent(evObj);
}, 5000);
</script>
<%= footer %>
